/* Imports google fonts for use across website */
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Phudu:wght@500&display=swap');
/* Asterisk wildcard selector to overide default styles added by the browser */
* {
    padding: 0;
    margin : 0;
    box-sizing: border-box;

}
/* General styles */
body {
    min-height: 100vh;
    display: flex; 
    flex-direction: column;
    /* Generic project styles */
    color: darkcyan;
}

h1, h2, h3 {
    font-family: 'Jersey 10', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(24, 182, 3);
}
/* Header */
header {
    background-color: darkslategrey;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: white;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid rgb(24, 182, 3);
}
/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: darkslategrey;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}
/* Nav Toggle */
#nav-toggle:checked~nav {
    display: block;
} 

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main Content */
main {
    
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 40px;
}

/* Hero */

 #hero {
    height: 600px;
    width: 100%;
    background: url(../images/pexels-anniroenkae-2156881.jpg) no-repeat center center/cover;
 }

 #cover-text {
    background-color: rgba(43, 44, 170, .3);
    backdrop-filter: blur(5px);
    box-shadow: 
        0 0 5px 5px rgba(43, 44, 170, .3);
    font-size: 140%;
    position: absolute;
    bottom: 50px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 20px;
 }

 #cover-text h2 {
    font-size: 240%;
 }

 #cover-text > h3 {
    font-family: 'Phudu', sans-serif;
    /* font-size: 110%; */
    color: cyan;
 }

 /* Reasons to join section */

#reasons {
    background-image: linear-gradient(black, darkblue, lightcyan, darkblue, black);
    width: 100%
}

#reasons h2 {
    font-size: 240%;
    margin-bottom: 10px;
    text-align: center;
}

hr {
    border-top: 1px solid rgb(24, 182, 3);
    margin: 10px
}

#benefits {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    width: 95%;
}

.benefit-box {
    background-color: #191970;
    height: 350px;
    min-width: 300px;
    padding: 20px;
    border-radius: 5px;
    margin: 10px 10px;
    flex: 1 0 30%;
    text-align: center;
    line-height: 20px;
}

.benefit-box h3 {
    font-size: 150%;
    font-family: "Phudu", sans-serif;
    margin-bottom: 10px;
}

.benefit-box p {
    padding: 0 20px;
}

.box-icons {
    text-align: center;
    padding-top: 35px;
    
}

.benefit-icons {
    color: rgb(24, 182, 3);
    font-size: 240%;
}

/* Social Events Section */

#sightings {
    background-image: linear-gradient(-135deg, #000000, #000300, #23a6d5, #000000);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#sightings h2 {
    font-size: 240%;
    text-align: center;
}

#events {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
}

.text-content {
    height: 200px;
    line-height: 16px;
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.text-content h3 {
    margin: 8px 0;
    font-size: 180%;
    font-family: 'Phudu', sans-serif;
}

.text-content p {
    margin-top: 10px;
    font-size: 110%;
    font-family: 'Phudu', sans-serif;

}

.button-box {
    margin: auto;
}

.button-link {
    border: 1px solid #fff;
    border-radius:  5px;
    background-color: blue;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    text-align: center;
    align-self: flex-end;

}

.button-link:hover {
    background-color: #fff;
    color: blue;
    border: 1px solid blue;
}

.rave-image, .retreat-image {
    background-color: blue;
    width: 50%;
    height: 200px;
    margin: 20px 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Gallery page */
#pictures img {
    flex: 1 0 33%;
    width: 30%;
    box-sizing: border-box;
    padding: 10px;

}

#pictures {
    line-height: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Signup */

main {
    flex: 1 0 auto;
    margin-top: 47px;
    display: flex;
    flex-direction: column;
}

#signup {
    background-image: url("../images/alien-meditating.JPG");
    background-size: cover;
    background-position: 75%;
    padding: 20px 10% 0 10%;
    height: 100vh;    
}

#signup-form {
    background-color: rgba(0, 0, 0, 0.7);
    width: 50%;
    padding: 30px;
    margin-top: 100px
}

#signup-form>h2 {
    margin-bottom: 20px;
    font-size: 200%;
}

.text-input {
    background: transparent;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
    color: #fafafa;
}

.radio-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.radio-response {
     
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: green;
    color: #fafafa;
    margin-right: auto;
    align-self: center;
}



/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: rgb(24, 182, 3);
}


/* Media Query: large or landscape phones (576px and up */
@media screen and (min-width: 576px) {
    #pictures {
        column-count: 2;
        column-gap: 0;

    }
}

/* Media Query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0 .5rem;
    }
    /* Main Content */
    main {
    /* Push main content down to accomodate larger header */
    margin-top: 83px;
    }

    #cover-text {
        width: 300px;
        left: 100px;
        bottom: 25%;
    }

    #pictures {
        column-count: 3;
    }
    
}
/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid rgb(24, 182, 3); 
    }

    #pictures {
        column-count: 4;
    }
}